

@import "tailwindcss";
      


/* Scrollbar and print custom styles */
textarea::-webkit-scrollbar {
  display: none;
}
textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}
@media print {
  ul.skills-list {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 0.5rem !important;
    margin-top: 0.5rem !important;
  }
  ul.skills-list li {
    background: #D1D5DB !important;
    color: #000 !important;
    padding: 0.25rem 0.5rem !important;
    border-radius: 0.25rem !important;
  }
}


@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-area {
    font-size: 20px !important;
    line-height: 2 !important;
    color: #000 !important;
    padding: 25px !important;
  }

  .print-area h1 {
    font-size: 30px !important;
    font-weight: 800 !important;
  }

  .print-area h2 {
    font-size: 25px !important;
    font-weight: 700 !important;
  }

  .print-area span,
  .print-area p {
    font-size: 20px !important;
  }

  .no-print {
    display: none !important;
  }
}
